*{
    margin: 0;
    padding: 0;
}
.maindiv{
    width: 1200px;
    border: 1px solid crimson;
    margin:100px auto;
    text-align: center;

}
.basicDesing{
    width: 200px;
    height: 200px;
    background: rgb(8, 63, 165);
    margin: 40px;
   display: inline-block;
   transition: .5s;
}

.div1:hover{
    transform: translate(50PX,50PX);
     }
.div2:hover{
        transform: rotate(46deg);
     } 
.div3:hover{
    transform: skew(-45deg,8deg);
     }

.div4:hover{
    transform: scale(1.5,2);
     }


     /* No effect*/
     .basicdiv{
        
         text-align: center;
         background: rgb(77, 14, 150);
         padding: 10px;
     color: rgb(219, 12, 12);
     font-size: 50px;
     }

.maindiv2{
    width: 1200px;
    border: 1px solid crimson;
    margin:100px auto;
    text-align: center;

}

.Basic{
    width: 150px;
    height: 150px;
    background: rgb(8, 63, 165);
    margin: 40px;
   display: inline-block;
}
/*img*/
.img-wraper{
    width: 400px;
    margin: auto;
    text-align: center;
    border: 1px solid crimson;
    padding:100px;
}
.img-wraper img{
    cursor: pointer;
    max-width: 100%;
    transition: .5s;
}
.img-wraper img:hover{
    transform: scale(1.5) rotate(360deg);

}